.form-group {
  width: 100%;
  position: relative;
}

.form-group__input {
  width: 100%;
  height: 48px;
  background: transparent;
  font-size: var(--text-md);
  border-radius: 5px;
  text-indent: 16px;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s ease all;
}

.form-group__input--primary {
  color: #000;
  border: solid 1px #000;
}


.form-group__input--primary::placeholder {
  color: #000;
}

.form-group__input--secondary {
  color: var(--color-text-300);
  border: solid 1px var(--color-border-200);
}

.form-group__input--secondary::placeholder {
  color: var(--color-text-300);
}

.form-group__input:focus,
.form-group__input:active {
  outline: none;
  border-width: 2px;
}

.form-group__input--error {
  border-color: var(--color-danger-100);
}

.form-group__label {
  display: block;
  font-size: var(--text-md);
  font-weight: var(--fw-medium);
  color: var(--color-primary-100);
  line-height: var(--line-height-normal);
  margin-bottom: var(--space-sm);
}

.form-group__error-message {
  position: absolute;
  top: calc(100% + 4px);
  left: 16px;
  font-size: var(--text-sm);
  color: var(--color-danger-100);
}
