.product-menu-card {
  width: 100%;
  min-width: 0;
  max-width: 700px;
  position: relative;
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.product-menu-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: -1;
}

.product-menu-card > * {
  flex: 1;
}

.product-menu-card__image-wrapper {
  position: relative;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-menu-card__image {
  width: 150px !important;
  height: 150px !important;
  min-width: 150px !important;
  min-width: 150px !important;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: none;
  left: 0;
}

.product-menu-card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding-bottom: 32px;
}

.product-menu-card__info .heading-4 {
  text-transform: capitalize;
}

.product-menu-card__info .text-lg {
  color: var(--color-text-400);
}

.menu-products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.menu-products-list > * {
  flex: 0 0 calc(50% - 8px);
  /* Two items per row */
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .menu-products-list > * {
    flex: 0 0 100%;
    /* One item per row on small screens */
  }
}
