.banner {
  width: 100%;
}

.banner__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.banner__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 64px 0 48px 0;
}

.banner__heading .heading-1 {
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 2%;
  text-align: center;
}

.banner__heading .subtitle {
  color: var(--color-text-600);
  margin-bottom: 16px;
}

.banner__image {
  background-image: url("/public/assets/images/banner-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  width: 100%;
  height: 600px;
  display: block;
}

.banner__content {
  position: relative;
}

.floating-review-card--bottom-left {
  position: absolute;
  bottom: 16px;
  left: 100px;
  width: 373px;
  color: var(--color-text-300);
  background: linear-gradient(90deg,
      var(--color-warm-orange),
      var(--color-light-yellow));
}

.floating-review-card--top-right {
  position: absolute;
  top: 50px;
  right: 200px;
  width: 373px;
  background: var(--gradient-warm-to-olive);
  color: var(--color-text-300);
}

@media (max-width: 768px) {
  .banner__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .banner__image {
    background-image: none;
    /* Or use a smaller background */
    height: auto;
  }

  .banner__heading {
    gap: 32px;
    padding: 32px 1rem;
  }

  .banner__heading .subtitle {
    text-align: center;
  }


  .floating-review-card--top-right,
  .floating-review-card--bottom-left {
    position: static;
    width: 100%;
    margin: 16px auto;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }
}