.newsletter-section {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
  height: 760px;
  background-image: url("/public/assets/images/wave-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-section__container {
  height: 100%;
}

.newsletter-section__content {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  /* justify-content: center; */
}

.newsletter-section__heading {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 32px;
  color: var(--color-text-300);
  margin-bottom: 48px;
}

.newsletter-section__form {
  display: flex;
  max-width: 748px;
  gap: 16px;
}

.newsletter-section__image {
  max-width: auto;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .newsletter-section {
    height: auto;
    padding: 2rem 1rem;
    height: 500px;
        background-image: none;

    background: linear-gradient(89.73deg, #d0e484 -2.15%, #a1bc1b 99.77%);
  }

  .newsletter-section__image {
    display: none;
  }

  .newsletter-section__content {
    padding-top: 0;
    text-align: center;
    align-items: center;
  }

  .newsletter-section__form {
    flex-direction: column;
    width: 100%;
  }
}
