:root {
  --color-gray-100: #f2f2f2;

  --color-primary-100: #fe6060;
  --color-secondary-200: #fcca40;
  --color-secondary-300: #fde49f;

  --color-warm-orange: #ffb168;
  --color-light-yellow: #ffd359;
  --color-light-green: #d0e484;
  --color-olive-green: #a1bc1b;

  --color-text-200: #1a1a1a;
  --color-text-300: var(--color-gray-100);
  --color-text-400: #777777;
  --color-text-600: #f9b401;

  --color-border-100: #000;
  --color-border-200: var(--color-gray-100);
  --color-border-300: #777777;
  --color-border-400: #d5d5d5

  /*  */
  --gradient-warm-to-yellow: linear-gradient(90deg, var(--color-warm-orange), var(--color-light-yellow));


  --gradient-warm-to-olive: linear-gradient(
    90deg,
    var(--color-light-green),
    var(--color-olive-green)
  );

  --color-berry: #ff6162;
  --color-orange: #ffd359;
  --color-grapes: #9f71bd;
  --color-kiwi: #a1bc1b;

  --color-danger-100: #ff4d4f;
  --color-success-100: #4caf50;

  --color-link: #1a73e8; 
  --color-link-hover: #1558b0;

  --color-gold: #f9b401;

  --gradient-berry: linear-gradient(89.99deg, #ff6162 -10.36%, #fe5d5c 99.99%);
  --gradient-orange: linear-gradient(90deg, #ffb168 0%, #ffd359 100%);
  --gradient-grapes: linear-gradient(90deg, #9479a6 0%, #9f71bd 116.62%);
  --gradient-kiwi: linear-gradient(90deg, #d0e484 0%, #a1bc1b 116.62%);

  --gradient-golden: linear-gradient(
    180deg,
    #fff4d7 0%,
    rgba(255, 244, 215, 0) 100%
  );
}
