:root {
  --color-gray-100: #f2f2f2;

  --color-secondary-100: #fe6060;

  --color-warm-orange: #ffb168;
  --color-light-yellow: #ffd359;
  --color-light-green: #d0e484;
  --color-olive-green: #a1bc1b;

  --color-text-300: #f2f2f2;

  /*  */
  --gradient-warm-to-yellow: linear-gradient(
    90deg,
    var(--color-warm-orange),
    var(--color-light-yellow)
  );

  --gradient-warm-to-olive: linear-gradient(
    90deg,
    var(--color-light-green),
    var(--color-olive-green)
  );
}
