@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&family=Caveat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&family=Caveat:wght@400;700&family=Poppins:wght@100;400;700&display=swap');

:root {
  --font-jost: "Jost", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-primary);
}
