@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&family=Caveat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Outfit:wght@100;400;700&family=Caveat:wght@400;700&family=Poppins:wght@100;400;700&display=swap");

:root {
  --font-jost: "Jost", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-primary);
}

.heading-1 {
  font-family: var(--font-outfit);
  font-family: Outfit;
  font-weight: 800;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 2%;
}

.heading-2 {
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0%;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-outfit);
}

.heading-5 {
  font-family: var(--font-outfit);
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.subtitle {
  font-family: var(--font-caveat);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

.text {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 2%;
}
