.franchise-application-form__container {
  display: flex;
  flex-direction: row;
  gap: 96px;
  flex-wrap: wrap;
}

.franchise-application-form__container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.partnership-cost-planner__wrapper .subtitle,
.partner-info-form__wrapper .subtitle {
  color: var(--color-text-600);
}

.partnership-cost-planner__wrapper .text,
.partner-info-form__wrapper .text {
  color: var(--color-text-400);
}

.partnership-cost-planner__wrapper .heading-2,
.partner-info-form__wrapper .heading-2 {
  margin: 30px 0;
}

@media (max-width: 1024px) {
  .franchise-application-form__container {
    flex-direction: column;
    gap: 64px;
    padding: 0 16px;
  }

  .franchise-application-form .subtitle,
  .franchise-application-form .heading-2,
  .franchise-application-form .text {
    text-align: center;
  }

  .franchise-application-form__container > div {
    gap: 32px;
  }

  .partnership-cost-planner__wrapper .heading-2,
  .partner-info-form__wrapper .heading-2 {
    margin: 24px 0;
    font-size: 1.5rem; /* Slightly smaller on mobile */
  }

  .partnership-cost-planner__wrapper,
  .partner-info-form__wrapper {
    width: 100%;
  }
}
