.product-details-section {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: space-between;
  min-height: 600px;
  content: "";
}


.product-details-page__image-wrapper {
  position: relative;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-story-section__image  {
  width: 450px !important;
  height: 450px !important;
  min-width: 450px !important;
  min-width: 450px !important;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: none;
  left: 0;
}


.product-details-section > div {
  flex: 1;
}

.product-details-section__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-details-section__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-end;
}

.product-details-section__content .text {
  color: var(--color-text-400);
}

.product-details-section__select-size {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-details-section__size-options {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.product-size-button {
  padding: 8px 16px;
  border: 1px solid var(--color-primary-100);
  color: var(--color-primary-100);
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  text-transform: capitalize;
}

.product-size-button.active {
  background-color: var(--color-primary-100);
  color: white;
}

.product-details-section__price {
  color: var(--color-text-600);
}

.product-details-section__comment-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-details-section__comment-input textarea {
  margin-bottom: 24px;
}

.product-details-section__actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 1024px) {
  .product-details-section {
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }

  .product-details-page__image-wrapper {
    height: auto;
    transform: none;
    max-width: 90%;
  }

  .product-details-section__content {
    width: 100%;
    padding: 0 16px;
    align-items: center;
  }

  .product-details-section__info {
    text-align: center;
  }

  .product-details-section__select-size {
    align-items: center;
  }

  .product-details-section__size-options {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-details-section__comment-input {
    width: 100%;
    padding: 0 16px;
  }
}

