.top-selling-products {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.top-selling-products__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-selling-products__header .subtitle {
  color: var(--color-text-600);
}

.top-selling-products__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.top-selling-products__grid > * {
  flex: 0 0 calc(50% - 12px);
}

@media (max-width: 768px) {
  .top-selling-products__grid {
    flex-direction: column;
  }

  .top-selling-products__grid > * {
    flex: 1 1 100%;
  }
}
