.footer {
  background: linear-gradient(
    180deg,
    #fff4d7 0%,
    rgba(255, 244, 215, 0.21) 100%
  );
  padding-top: 40px;
  padding-bottom: 100px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer__heading span.subtitle {
  color: var(--color-text-600);
  text-align: center;
}

.footer__heading .subtitle {
  text-align: center;
}

.footer__contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__contact-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  word-wrap: break-word;
  white-space: normal;
}

.footer__social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 48px;
  border-top: 1px solid var(--color-border-300);
}

.footer__social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (min-width: 640px) and (max-width: 1250px) {
  .footer__contact {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .footer__contact-item {
    text-align: center;
    gap: 8px;
  }

  .footer__contact-item .heading-5 {
    padding: 0;
    margin: 0;
    line-height: 1.2;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .footer {
    padding-bottom: 40px;
    align-items: center;
  }

  .footer__contact {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  .footer__contact-item {
    text-align: center;
    gap: 8px;
  }

  .footer__contact-item .heading-5 {
    font-size: 20px !important;
  }

  .footer__contact-item img {
    width: 18px;
  }

  .footer__social-media {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    align-items: center;
    padding-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .footer__contact {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .footer__contact-item {
    text-align: center;
    gap: 8px;
  }

  .footer__contact-item .heading-5 {
    font-size: 16px !important;
  }

  .footer__contact-item img {
    width: 16px;
  }

  .footer__social-media {
    flex-direction: column-reverse;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
  }
}
