.menu-page {
  /* display: flex;
  flex-direction: column;
  gap: 200px;
  padding-bottom: 100px;
  padding-top: 100px; */
}

.menu-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-page__heading {
  display: flex;
  flex-direction: column;
  gap: 156px;
  text-align: center;
}

.menu-page__sub-heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-page__sub-heading .subtitle {
  color: var(--color-text-600);
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.empty-state__icon-wrapper {
  width: 180px;
  height: 180px;
  background-color: #eff0f4; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px auto;
}

.empty-state svg {
  color: #ff4d4f;
  margin-bottom: 16px;
}

.empty-state p {
  white-space: nowrap;
  color: var(--color-text-400);
  font-family: var(--font-jost);
  font-size: 20px;
}
